# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CP1404_Practicals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
